@{
    ViewBag.Title = "Thông tin đề án";
}

<div class="jumbotron">
    <h1>Nguyễn Văn Hải Long - 60136035 - NTU</h1>
    <p>Đề án năm 3 ASP.NET MVC5. Hãy liên hệ nếu gặp khó khăn trong quá trình sử dụng</p>
    <br />
    <p><a href="https://www.facebook.com/longzero99" class="btn btn-primary btn-lg">FACEBOOK</a></p>
</div>